.section {
    margin: 20px 20px 10px 20px;
    border-bottom: solid 2px black;
}

.ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 0;
    column-gap: 20px;
    list-style-type: none;
}

.li {
    list-style-type: none;
    width: fit-content;
}
#hour {
    background-color: rgb(112, 0, 22);
    color: crimson;
    width: fit-content;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
}

.width {
    width: fit-content;
}

.h2 {
    margin-bottom: 0px;
}